<div class="relative ">
  <nav class="absolute h-14 left-16 sm:left-[550px] z-10 p-2">
    <ul class="flex flex-row justify-center p-4 gap-4">
      <li class="text-white">About Me</li>
      <li class="text-white">Portfolio</li>
      <li class="text-white">Contact</li>
    </ul>
  </nav>
</div>
<div class="container-content">
  <img class="w-full h-full absolute "
    src="https://media.licdn.com/dms/image/v2/D4D12AQGmT_tCKrbrGg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1693559711441?e=2147483647&v=beta&t=luGgVhGbD7MCxKvwWApkIDmQfv1s09PINkwjG-2oU3E"
    alt="">
  <div class="overlay absolute w-full h-full"
    style="background: linear-gradient(90deg,rgb(95, 2, 149) 20%, rgba(0,0,0,1) 100% ); opacity: 0.6;"></div>
  <div class=" w-12 sm:w-12">
    <h1
      class="absolute text-xl sm:text-4xl text-white font-bold bottom-96 sm:bottom-1/2 pl-6 sm:pl-8  sm:text-left w-40 sm:w-auto">
      Hello, I'M<br>
      <span style="
    background: linear-gradient(149deg, rgba(255,246,254,1) 0%, rgba(222,26,221,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
"> Malik Umair</span> <br>Front-End Developer
    </h1>
    <p class="absolute  sm:text-xl text-white bottom-1/4 p-6 sm:p-8 sm:text-left w-56 sm:w-auto">Transforming ideas into interactive, responsive designs.<br>
      Empowering user experiences through the magic <br> of front-end development.</p>
  </div>
  <div class="absolute flex flex-row left-0 bottom-28 pl-6 gap-4">
    <button
      class="arrow-button sm:w-44 sm:h-12 w-32 h-10 flex items-center justify-center text-white bg-purple-600 rounded-full transition-all duration-300 ease-in-out font-semibold cursor-pointer  hover:bg-purple-400 hover:text-white">
      Hire Me
      <span
        class="arrow w-1.5 h-1.5 border-r-2 border-b-2 rotate-[-45deg] ml-1.5 transition-all duration-300 ease-in-out relative"></span>
    </button>
    <button
      class="arrow-button sm:w-44 sm:h-12 w-32 h-10 flex items-center justify-center text-white bg-purple-600 rounded-full transition-all duration-300 ease-in-out font-semibold cursor-pointer  hover:bg-purple-400 hover:text-white">
      Donwload CV
      <span
        class="arrow w-1.5 h-1.5 border-r-2 border-b-2 rotate-[-45deg] ml-1.5 transition-all duration-300 ease-in-out relative"></span>
    </button>
  </div>
  <div class="absolute bg-purple-300 sm:w-64 h-auto sm:h-96 w-34 right-0 top-1/4 rounded-xl p-4">
    <div class="experience">
      <h1 class="text-4xl font-bold text-purple-800">+02</h1>
      <p class="font-semibold text-purple-900">Years Of Experience</p>
      <span class="block w-full h-0.5 bg-gray-300 mt-4"></span>
    </div>
    <div class="experience mt-4">
      <h1 class="text-4xl font-bold text-purple-800">+100</h1>
      <p class="font-semibold text-purple-900">Project Complete</p>
      <span class="block w-full h-0.5 bg-gray-300 mt-4"></span>
    </div>
    <div class="experience mt-4">
      <h1 class="text-4xl font-bold text-purple-800">+97%</h1>
      <p class="font-semibold text-purple-900">Client Satisfactions</p>
      <span class="block w-full h-0.5 bg-gray-300 mt-4"></span>
    </div>
  </div>
</div>